<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Id</mat-label>
    <input matInput [(ngModel)]="data.id">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Parking Spot Number</mat-label>
    <input matInput [(ngModel)]="data.parkingSpotNumber">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>License Plate Car</mat-label>
    <input matInput [(ngModel)]="data.licensePlateCar">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Brand Car</mat-label>
    <input matInput [(ngModel)]="data.brandCar">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Color Car</mat-label>
    <input matInput [(ngModel)]="data.colorCar">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Registration Date</mat-label>
    <input matInput [(ngModel)]="data.registrationDate">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Responsible Name</mat-label>
    <input matInput [(ngModel)]="data.responsibleName">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Apartment</mat-label>
    <input matInput [(ngModel)]="data.apartment">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Block</mat-label>
    <input matInput [(ngModel)]="data.block">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Model Car</mat-label>
    <input matInput [(ngModel)]="data.modelCar">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoCancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Create</button>
</div>
