<h1>Parking Control</h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="parkingSpotNumber">
    <th mat-header-cell *matHeaderCellDef> Parking Spot Number </th>
    <td mat-cell *matCellDef="let element"> {{element.parkingSpotNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="licensePlateCar">
    <th mat-header-cell *matHeaderCellDef> License Plate Car </th>
    <td mat-cell *matCellDef="let element"> {{element.licensePlateCar}} </td>
  </ng-container>

  <ng-container matColumnDef="brandCar">
    <th mat-header-cell *matHeaderCellDef> Brand Car </th>
    <td mat-cell *matCellDef="let element"> {{element.brandCar}} </td>
  </ng-container>

  <ng-container matColumnDef="colorCar">
    <th mat-header-cell *matHeaderCellDef>Color Car</th>
    <td mat-cell *matCellDef="let element">{{element.colorCar}}</td>
  </ng-container>

  <ng-container matColumnDef="registrationDate">
    <th mat-header-cell *matHeaderCellDef>Registration Date</th>
    <td mat-cell *matCellDef="let element">{{element.registrationDate}}</td>
  </ng-container>

  <ng-container matColumnDef="responsibleName">
    <th mat-header-cell *matHeaderCellDef>Responsible Name</th>
    <td mat-cell *matCellDef="let element">{{element.responsibleName}}</td>
  </ng-container>

  <ng-container matColumnDef="apartment">
    <th mat-header-cell *matHeaderCellDef>Apartment</th>
    <td mat-cell *matCellDef="let element">{{element.apartment}}</td>
  </ng-container>

  <ng-container matColumnDef="block">
    <th mat-header-cell *matHeaderCellDef>Block</th>
    <td mat-cell *matCellDef="let element">{{element.block}}</td>
  </ng-container>

  <ng-container matColumnDef="modelCar">
    <th mat-header-cell *matHeaderCellDef>Model Car</th>
    <td mat-cell *matCellDef="let element">{{element.modelCar}}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button>Edit</button>
      <button>Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

